
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lato";
    text-decoration: none;
  }
  html{
    font-size: 62.5%;
  }

  .header{
    padding: 0 4.8rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .hero-section{
    padding: 17rem 17rem;
    margin: 6rem;
    height: 19rem;
    display: flex;
    font-size: large;
    justify-content: space-between;
  }

  .hero-section h3{
    /* padding: auto; */
    /* border: 1rem; */
    font-size: 6rem;
    color:rgb(4, 0, 0);
    
  }
  .hero-section h2{
    /* padding: auto; */
    /* font-size: 6rem; */
    font-size: 4rem;
    color:rgb(0, 0, 0);
  }

  .header .logo{
    padding: auto;
    height: 3.4rem;
  }

  .logo img{
    /* width: 10rem; */
    /* padding:2rem;
    margin:auto;
     */
    /* display: inline-block; */
    height: 45rem;
    top: -12rem;
    position: relative;
  }
  .logo{
        display: inline-block;
        justify-content: center;
        align-items: center;
        
  }
  .hero-section p{
    color: rgb(13, 71, 91);
    font-size:smaller;
    font-weight: 100;
    line-height: 3rem;
  }

  .navbar-list{
    display: flex;
    gap: 4.5rem;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
  }

.navbar-list a{
    color:rgb(0, 8, 8);
    font-size:xx-small;
    text-decoration: none;
}

.navbar-list a:link,
.navbar-list a:visited{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(8, 8, 0);
    transition: all 0.3s;
}

.navbar-list a:active,
.navbar-list a:hover{
    color:rgb(109, 204, 251);
}